<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="/"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="/entries/new"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>
                    {% block content %}
                    <form method="POST" action="" class="form">
                        <label for="journal_title"> Title</label>
                        <input id="journal_title" type="text" name="title" value="">
                        <label for="date_time">Date</label>
                        <input id="date_time" type="date" name="date"><br>
                        <label for="time_spent"> Time Spent</label>
                        <input id="time_spent" type="text" name="timeSpent"><br>
                        <label for="learned">What I Learned</label>
                        <textarea id="learned" rows="5" name="whatILearned"></textarea>
                        <label for="remember">Resources to Remember</label>
                        <textarea id="remember" rows="5" name="ResourcesToRemember"></textarea>
                        <input type="submit"  id ="submit"   value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>